# Changelog

このプロジェクトの全ての主要な変更はこのファイルに記録されます。
[Keep a Changelog](https://keepachangelog.com/) 形式に従い、[Semantic Versioning](https://semver.org/) を採用しています。

## [Unreleased]

### Added
- (新機能)

### Changed
- (既存機能の変更)

### Deprecated
- (将来削除予定)

### Removed
- (削除された機能)

### Fixed
- (バグ修正)

### Security
- (セキュリティ修正)

---

## [0.1.0] - YYYY-MM-DD

### Added
- 初回リリース
- {{INTENT_1}}
- {{INTENT_2}}
- {{INTENT_3}}

[Unreleased]: https://github.com/<owner>/{{PROJECT_NAME}}/compare/v0.1.0...HEAD
[0.1.0]: https://github.com/<owner>/{{PROJECT_NAME}}/releases/tag/v0.1.0
